.primary-color{
    -fx-background-color: #383838;
}

.secondary-color{
    -fx-background-color: #282828;
}

.web-view{
    -fx-background-radius: 5;
}

.buttons{
    -fx-background-color: #3c3c3c;
    -fx-background-radius: 5;
}

.buttons:hover{
    -fx-background-color: #323232;
}

.buttons:pressed{
    -fx-background-color: #232323;
}

.input{
	-fx-background-color: #3c3c3c;
	-fx-text-fill: #e7e7e7;
	-fx-background-radius: 5;
}

.input:hover{
	-fx-background-color: #323232;
}

.progress-bar {
	-fx-background-color: #383838; /* Cor de fundo da ProgressBar */
}

.progress-bar .track {
	-fx-background-color: #282828; /* Cor do rastreador */
}

.progress-bar .thumb {
	-fx-background-color: #0092C2; /* Cor do indicador */
}

.tabPane{
    -fx-tab-min-width: 100px;
    -fx-tab-min-height: 25px;
    -fx-tab-max-width: 100px;
    -fx-tab-max-height: 25px;
}

.tab-pane *.tab-header-background {
    -fx-background-color: #282828;
}

.tab{
    -fx-background-color: #323232;
    -fx-text-fill: #e7e7e7;
}

.tab:selected{
    -fx-background-color: #3c3c3c;
}

.button-window-close{
	-fx-background-color: #eb5a55;
	-fx-background-radius: 100;
}

.button-window-max{
	-fx-background-color: #65cb43;
	-fx-background-radius: 100;
}

.button-window-min{
	-fx-background-color:#f6bc3e;
	-fx-background-radius: 100;
}