.primary-color{
    -fx-background-color: #ffffff;
}

.secondary-color{
    -fx-background-color: #f8f8f8;
}

.web-view{
    -fx-background-radius: 5;
}

.buttons{
    -fx-background-color: #cbcbcb;
    -fx-background-radius: 5;
}

.buttons:hover{
    -fx-background-color: #c9b8b5;
}

.buttons:pressed{
    -fx-background-color: #b3b3b3;
}

.input{
	-fx-background-color: #cbcbcb;
	-fx-text-fill: #e7e7e7;
	-fx-background-radius: 5;
}

.input:hover{
	-fx-background-color: #b3b3b3;
}

.progress-bar {
	-fx-background-color: #ffffff; /* Cor de fundo da ProgressBar */
}

.progress-bar .track {
	-fx-background-color: #f8f8f8; /* Cor do rastreador */
}

.progress-bar .thumb {
	-fx-background-color: #11d3d6; /* Cor do indicador */
}

.button-window-close{
	-fx-background-color: #eb5a55;
	-fx-background-radius: 100;
}

.button-window-max{
	-fx-background-color: #65cb43;
	-fx-background-radius: 100;
}

.button-window-min{
	-fx-background-color:#f6bc3e;
	-fx-background-radius: 100;
}

/*MUDAR A COR NO PROMPTTEXT NO MODO LIGTH*/
/*MUDAR A COR DOS ÍCONES PARA #FFFFFF */
/*CORRIGIR BUG NO BTN CLOSE QUANDO FICA VISIBLE FALSE*/